.todo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	position: relative;
}

.todo__header {
	position: relative;
	text-align: center;
}

.todo__title {
	margin: 0;
	font-size: 10rem;
	color: #f1e3c2;
	font-family: system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;
	font-weight: 700;
	letter-spacing: 0;
}

.todo__subtitle {
	font-family: 'Permanent';
	margin: 0;
	font-size: 5rem;
	position: absolute;
	top: 100px;
	left: 55%;
	color: #f1e3c2;
}

.todo__section {
	width: 70%;
	height: 80vh;
	border-radius: 20px;
	background-color: #f1e3c2;
	text-align: center;
	overflow-x: hidden;
}

.todo__form {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-bottom: 1px solid #20383c;
	position: sticky;
	top: 0;
	background-color: #f1e3c2;
	z-index: 100;
}

.todo__input-group {
	display: flex;
	width: 50%;
	align-items: center;
	gap: 20px;
}

.todo__input {
	width: 100%;
	height: 25px;
	padding: 5px 20px;
	border: 1px solid #20383c;
	border-radius: 10px;
	background-color: white;
	transition: transform 0.3s ease-in-out;
}

.todo__input::placeholder {
	font-style: italic;
	opacity: 0.5;
	transition: opacity 0.3s ease-in-out;
}

.todo__input:hover::placeholder {
	opacity: 0.1;
}

.todo__input:hover {
	transform: scale(1.05);
}

.todo__input:focus-visible {
	outline: none;
}

.todo__date-group {
	display: flex;
	align-items: center;
	gap: 10px;
}

.todo__label {
	color: #20383c;
	font-weight: 500;
}

.todo__date-input {
	padding: 5px 10px;
	border: 1px solid #20383c;
	border-radius: 5px;
	color: black;
}

.todo__add-button {
	background-color: #20383c;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	padding: 5px 10px;
	transition: opacity 0.3s ease-in-out;
}

.todo__add-button:hover {
	opacity: 0.6;
}

.todo__add-button:active {
	transform: scale(1.1);
}

.todo__add-icon {
	width: 28px;
	height: 28px;
	transition: transform 0.3s ease-in-out;
}

.todo__add-button:hover .todo__add-icon {
	transform: rotate(360deg);
}

.todo__content {
	padding: 20px;
	height: 100%;
}

.todo__empty {
	margin-top: 100px;
}

.todo__empty-text {
	font-size: 2rem;
	color: #20383c69;
}

.todo__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	list-style: none;
	margin: 0;
}

.todo__item {
	position: relative;
	padding: 20px 10px 10px;
	border: 1px solid #20383c;
	border-radius: 20px;
	transition: transform 0.3s ease-in-out;
	height: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.todo__item--active {
	background-color: #e4e3df;
	color: black;
}

.todo__item--completed {
	background-color: #20383c;
	color: #f1e3c2;
}

.todo__item:hover {
	transform: translateY(-5px);
}

.todo__item-content {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	padding: 25px 5px 5px;
	width: 100%;
	min-width: 0;
}

.todo__content-button {
	background: none;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
	cursor: pointer;
	width: 100%;
	color: inherit;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0;
	min-width: 0;
}

.todo__item-title {
	margin: 0;
	font-size: 1.5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.todo__item-title--completed {
	font-size: 1.3rem;
	text-decoration: line-through;
	opacity: 0.6;
	color: #f1e3c2;
}

.todo__deadline {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 0;
	font-size: 1rem;
}

.todo__deadline--hidden {
	display: none;
}

.todo__deadline-icon {
	width: 24px;
	height: 24px;
}

.todo__deadline-date {
	padding: 5px;
	font-size: 0.8rem;
	color: #f1e3c2;
	background-color: rgb(121, 31, 31);
	border-radius: 20px;
}

.todo__date-info {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 0;
	font-size: 0.8rem;
	font-style: italic;
	max-width: 100%;
}

.todo__date-icon {
	width: 24px;
	height: 24px;
}

.todo__date-text--completed {
	color: #f1e3c2;
}

.todo__action-button {
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px;
	border-radius: 20px;
	transition: transform 0.3s ease-in-out;
	z-index: 10;
}

.todo__action-button--done {
	top: 10px;
	left: 10px;
	background-color: #20383c;
}

.todo__action-button--delete {
	top: 10px;
	right: 10px;
	background-color: rgb(121, 31, 31);
}

.todo__action-icon {
	width: 24px;
	height: 20px;
	transition: transform 0.3s ease-in-out;
}

.todo__action-button:hover {
	transform: scale(1.1);
}

.todo__action-button:hover .todo__action-icon {
	transform: scale(1.2);
}

.todo__action-button {
	pointer-events: auto;
}

.todo__item:hover .todo__action-button--delete:hover {
	background-color: rgba(121, 31, 31, 0.9);
}

.todo__item:hover .todo__action-button--done:hover {
	background-color: rgba(32, 56, 60, 0.9);
}

/* Стили для карточек с дедлайном */
.todo__item:has(.todo__deadline:not(.todo__deadline--hidden))
	.todo__item-content {
	padding: 25px 5px 10px;
}

.todo__item:has(.todo__deadline:not(.todo__deadline--hidden))
	.todo__content-button {
	gap: 12px;
}

/* Адаптивность */
@media (max-width: 1200px) {
	.todo__section {
		width: 90%;
		height: 70vh;
	}
}

@media (max-width: 768px) {
	.todo {
		gap: 15px;
	}

	.todo__title {
		font-size: 6rem;
	}

	.todo__subtitle {
		font-size: 3rem;
		top: 60px;
		right: 50px;
		left: auto;
	}

	.todo__form {
		flex-direction: column;
	}

	.todo__section {
		width: 90%;
		height: 80vh;
	}

	.todo__input-group {
		width: 100%;
	}

	.todo__date-input {
		border-radius: 20px;
	}

	.todo__list {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 15px;
	}
}

@media (max-width: 480px) {
	.todo__list {
		grid-template-columns: 1fr;
	}

	.todo__title {
		font-size: 4rem;
	}

	.todo__subtitle {
		font-size: 2rem;
		top: 40px;
	}

	.todo__form {
		padding: 15px;
		gap: 15px;
	}

	.todo__input-group {
		gap: 15px;
	}

	.todo__date-group {
		gap: 8px;
	}

	.todo__item {
		max-width: 100%;
		padding: 0px;
		height: 160px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.todo__item-title {
		padding: 0 20px;
		margin-top: 10px;
		display: block;
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		min-width: 0;
	}
	x .todo__content-button {
		min-width: 0;
	}

	.todo__item-content {
		min-width: 0;
	}

	.todo__item:has(.todo__deadline:not(.todo__deadline--hidden))
		.todo__item-content {
		padding: 35px 5px 8px;
	}
}
